@if (this.company) {
  <mat-card>
    <mat-card-header>
      <mat-card-title class="company-card-name">{{ this.company._id }}</mat-card-title>
      <mat-card-subtitle class="company-card-employee-count">
        ({{ this.company.count }} {{ (this.company.count === 1) ? 'employee' : 'employees' }})
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul class="company-card-users">
        @for (user of this.company.users; track user._id) {
          <li><span class="company-card-user-name">{{ user.name }}</span></li>
        }
      </ul>
    </mat-card-content>
  </mat-card>
}
