// This sets the font size to be the same for both the Angular Material
// list item title and list item line.
.mat-mdc-list-item {
  &-title,
  &-line {
    font-size: 1rem;
  }
}

// Capitalize the user role when displaying it in the user card.
.user-card-role {
  text-transform: capitalize;
}

.user-card-email {
  display: block; /* Make it a block-level element */
  color: inherit; /* Inherit the text color from the parent element */
  text-decoration: none; /* Remove default underline */
  padding: 0; /* Reset padding */
  margin: 0; /* Reset margin */
  cursor: pointer; /* Change cursor to pointer on hover */
}
