@if (this.user) {
  <mat-card class="user-card">
    <mat-card-header>
      @if (this.user.avatar) {
        <img mat-card-avatar [src]="this.user.avatar" class="user-avatar">
      }
      <mat-card-title class="user-card-name">{{ this.user.name }}</mat-card-title>
      <mat-card-subtitle class="user-card-company">{{ this.user.company }}</mat-card-subtitle>
    </mat-card-header>
    @if (!this.simple) {
      <mat-card-content>
        <p>Role: <span class="user-card-role">{{ this.user.role }}</span></p>
        <p>Age: <span class="user-card-age">{{ this.user.age }}</span></p>
        <p>Email: <a href="mailto:{{this.user.email}}" class="user-card-email">{{this.user.email}}</a></p>
      </mat-card-content>
    }
    <mat-card-actions>
      @if (this.simple) {
        <button mat-button data-test="viewProfileButton" [routerLink]="['/users', this.user._id]">View Profile</button>
      }
    </mat-card-actions>
  </mat-card>
}
