@if (this.user) {
  <mat-card class="user-card">
    <mat-card-header>
      @if (this.user.avatar) {
        <img mat-card-avatar [src]="this.user.avatar" alt="Avatar for {{this.user.name}}" class="user-avatar">
      }
      <mat-card-title class="user-card-name">{{ this.user.name }}</mat-card-title>
      <mat-card-subtitle class="user-card-company">{{ this.user.company }}</mat-card-subtitle>
    </mat-card-header>
    @if (!this.simple) {
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon matListItemIcon>dataset</mat-icon>
            <p matListItemTitle>Role</p>
            <!--
            We had to put both the `role` and `age` entries on a single line. Otherwise
            we got an annoying leading space in front of the values.
            -->
            <p matListItemLine class="user-card-role">{{ this.user.role }}</p>
          </mat-list-item>
          <mat-divider [inset]=true></mat-divider>
          <mat-list-item>
            <mat-icon matListItemIcon>schedule</mat-icon>
            <p matListItemTitle>Age</p>
            <p matListItemLine class="user-card-age">{{ this.user.age }}</p>
          </mat-list-item>
          <mat-divider [inset]=true></mat-divider>
          <mat-list-item>
            <a href="mailto:{{this.user.email}}"  matListItemIcon><mat-icon>mail</mat-icon></a>
            <p matListItemTitle>Email</p>
            <a matListItemLine class="user-card-email" href="mailto:{{this.user.email}}">{{this.user.email}}</a>
            <a href="mailto:{{this.user.email}}" matListItemMeta mat-icon-button><mat-icon>open_in_new</mat-icon></a>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    }
    @if (this.simple) {
      <mat-card-actions>
        <button mat-button data-test="viewProfileButton" [routerLink]="['/users', this.user._id]">View Profile</button>
      </mat-card-actions>
    }
</mat-card>
}
